@{
    ViewData["Title"] = "Добавление телефонной книжки";
}
<div>
    <form action="~/Home/PbGetDataFromViewField" method="post">
        <label>Владелец телефонной книжки</label><br />
        <input type="text" name="ownerPhoneBook" value="" required/><br />
        <p><input class="button" type="submit" value="Добавить в базу" /></p>
    </form>
</div>
